<?php
use LosMiddleware\ApiProblem;
use Zend\Stratigility\Middleware\ErrorHandler;

return [
    'los_api_problem' => [
        'display_trace' => false,
    ],
    'dependencies' => [
        'factories' => [
            ErrorHandler::class => ApiProblem\ErrorHandlerFactory::class,
            ApiProblem\ErrorResponseGenerator::class => ApiProblem\ErrorResponseGeneratorFactory::class,
        ],
    ],
];
